body {
    font: bold 12px Arial;
}

a {
    text-decoration: none;
}

html {
    height: 100vh
}

body {
    height: 100vh
}

#map-container {
    height: 30vh;
}

#map {
    height: 100%;
    width: 100%;
}

#names {
    cursor: pointer;
}
