* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Headline

#headline{
  color: #e67e22;
}

// Add your fractal Sass files below!
@import 'css/map';
@import 'css/search-box';
@import 'css/loader';
@import 'css/search-result';
