<div class="container">
    <h1 id="headline">Zenefits Web App</h1>
</div>

<search-box></search-box>

<div class="container">
    <ui-view></ui-view>
<div id="search-result" class="row" ng-show="searched">
    <div class="col-md-6">
        <div id="repeat" ng-repeat="place in places track by $index">
            <h3> {{$index+1}}.  {{place.name}}</h3>
            <p>{{place.formatted_address}}</p>
            <pre>{{place}}</pre>
            <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                <label id="names">{{marker.title}}</label>
            </a>
        </div>
    </div>
    <div id="map-container" class="col-md-6">
        <div id="map"></div>
    </div>
</div>
</div>

