<div>
    <div class="container">
        <h1 id="headline">ZenPlaces</h1>
    </div>
</div>

<search-box></search-box>

<div class="container">
    <div class="row" ng-show="searched">
        <div ng-show="error" id="error-message" class="col-xs-12">
            <div class="alert alert-danger text-center" role="alert">{{error}}</div>
        </div>
        <div id="loader" ng-show="!places.length &&!error">
        <img  ng-src="assets/images/loader.gif">
        </div>

        <div>
        <div class="col-md-6">
            <search-result></search-result>
        </div>
        <div id="map-container" class="col-md-6">
            <map></map>
        </div>
    </div>
</div>
